#u0 {
  width: 100%;
}
#main-content-sum>div {
  height: 80px;
  font: 20px/80px sans-serif;

}
#main-content-sum>ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 50px; */
}
#main-content-sum li {
  width: 300px;
  height: 120px;
  background-color: rgba(255,255,255,0.7);
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}
#main-content-sum li>img {
  display: block;
  position: relative;
  left: 20px;
  top: 20PX;
  width:  80px;
  height: 80px;
  /* background-color: gray; */
}
#main-content-sum li>span:nth-of-type(1){
  position: absolute;
  left: 170px;
  top: 30px;
}
#main-content-sum li>span:nth-of-type(2){
  position: absolute;
  left: 200px;
  top: 60px;
}
#main-content-detail>div {
  height: 80px;
  font: 20px/80px ;
  margin-right: 20px;
}
#showDev>tr {
  font: 20px/80px sans-serif;
}
#devModal .modal-content {
  width: 800px;
  height: 500px;
}
#devModal .modal-body {
  padding-bottom: 0px;
}
#devModal .modal-body>div {
  font-weight: bolder;
  color: rgb(61, 139, 253);
  height: 50px;
}
#devModal .modal-body>div span {
  display: inline-block;
  font: bolder 20px/50px 微软雅黑;
  width: 300px;
  margin-right: 10px;
}
#devModalUl {
  height: 290px;
  overflow-y: auto;
  margin-bottom: 0;
}
#devModal .modal-footer {
  padding-right: 44px;
}
.devListModal {
  height: 50px;
}
.devListModal span {
  display: inline-block;
  font: 20px/50px sans-serif;
}
.devShow>span:nth-of-type(1) {
  width: 300px;
  margin-right: 5px;
}
.devShow>span:nth-of-type(2) {
  width: 300px;
}
.devShow>span:nth-of-type(3), .devShow>span:nth-of-type(4){
  cursor: pointer;
  margin-left: 20px;
}
.devChange>button {
  width: 70px;
  height: 35px;
}

.editDevName, .editDevId {
  display: inline-block;
  width: 300px;
  margin-right: 5px;
}



#devInput1 {
  width: 200px;
  height: 30px;
}
#devInput2 {
  width: 300px;
  height: 30px;
  margin-right: 20px;
}
#refreshDevBtn {
  height: 60px;
  font: 18px/60px sans-serif;
}


.devShow>span:nth-of-type(3):hover {
  color: #198754;
}
.devShow>span:nth-of-type(4):hover {
  color: rgb(220, 53, 69);
}
#refreshDevBtn:hover {
  color: rgb(61, 139, 253);
  cursor: pointer;
}